p {
    line-height: 0.8;
}

#tab1 { background-color: #383838; } #tab2 { background-color: #7C7880;} #tab3 { background-color: #A3A2A9; }

.foto-sobre {
    height: 270px;
}

#tecelagem {
    margin: 12px;
    background-color: #ffffff;
}

#mesaposta {
    margin: 12px;
    background-color: #ffffff;
}

#decoracao {
    margin: 12px;
    background-color: #ffffff;
}

.nome-rede {
    font-weight: bold;
    margin-bottom: 10px;
}

.texto-sobre {
    line-height: 2;
    margin: 25px;
    text-align: justify;
}

body {
    margin: 0;
}

.subir {
    position: relative;
    top: -200px;
}

.refresh {
    width: 20px;
    height: 20px;
}

.subir-newsletter {
    position: relative;
    top: -120px;
}

.organiza-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botao-corpo {
    font-size: 12px;
    color: #ffffff;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 30px;
    background-color: #282c34;
}

.icon-botao {
    background-color: #282c34;
}


.slider .indicators .indicator-item.active {
    background-color: #282c34;
}
